
.three_box {
    background-color: #fff;
    padding-top: 90px;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}


.three_box  .col-md-4 {
    padding: 2em;
}


.catalog {
    background-color: #fff;
    padding-top: 10em;
}

.box_text {
    background: #fff;
    text-align: center;
    padding: 50px 20px 20px 20px;
    border: #48ca95 solid 1px;
    border-radius: 15px;
}

.box_text h3 {
    color: #121010;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    padding-bottom: 25px;
}

.box_text p {
    font-size: 17px;
    color: #050505;
    line-height: 30px;
}

.box_text i {
    padding-bottom: 25px;
    display: block;
}



.catalog  .col-md-4 {
    padding: 2em;
}




.send_btn {
    font-size: 22px;
    transition: ease-in all 0.5s;
    background-color: #48ca95;
    text-transform: uppercase;
    color: black;
    padding: 15px 0px;
    max-width: 300px;
    width: 100%;
    display: block;
    margin-top: 100px !important;
    margin: 100px auto;
    border-radius: 40px;
    font-weight: 500;
    
}

.send_btn:hover {
    background-color: #000;
    transition: ease-in all 0.5s;
    color: #fff;
}

.no_tablets{
    width: auto;
    height: 100vh;
    text-align: center;
    margin: 5em auto;
}

.no_content{
    margin: 5em auto;
    font-size: 2em;
}

.titlepage h2 {
    padding-top: 1em;
    font-size: 3em;
    text-align: center;
}

.dummy {
    margin: 0 auto;
    border: 1px solid #48ca95;
    width: 42ch;
    margin-bottom: 4em;
}

.serverError {
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
}